@use "../../../scss/base/globals" as clr;
@use "../../../scss/base/globals" as mq;

.top__nav__container {
  overflow: hidden;
  font-family: "GeneralSans-Medium";

  .top__nav {
    display: flex;
    gap: 2rem;

    @include mq.tabletL {
      gap: 1rem;
    }

    .top__nav__link {
      text-decoration: none;
      color: clr.$black;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      border-radius: 2em;
      padding-right: 1rem;

      .link__arrow__circle {
        background-color: clr.$black;
        overflow: hidden;
        border-radius: 50%;
        padding: 0.6rem;

        .arrow__up {
          object-fit: cover;
          height: 18px;
          width: 18px;
        }
      }
    }
  }
}
