@use "../../scss/base/globals" as clr;
@use "../../scss/base/globals" as mq;

.venues__section {
  // background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;

  .venues__h1 {
    color: clr.$white;
    font-family: "Tusker-Grotesk-8800-Super";
    font-size: 6rem;
    text-transform: uppercase;
    padding: 4rem 0;
    @include mq.tabletL {
      font-size: 4rem;
      @include mq.tabletS {
        font-size: 3rem;
      }
    }
  }

  .venues__grid__container {
    background-color: clr.$white;
    border-radius: 2em;
    // width: 90vw;
    margin: 0 3.725rem;
    padding: 4rem 2rem;

    @include mq.desktopL {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include mq.tabletL {
      margin: 0 1.5rem;
    }
    @include mq.tabletS {
      margin: 0;
    }

    .venues__grid {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 2rem;
      row-gap: 3rem;

      @include mq.desktopL {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      @include mq.desktopS {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @include mq.tabletS {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }
}
