@use "../../scss/base/globals" as clr;
@use "../../scss/base/globals" as mq;

.hero__section {
  height: 85vh;
  padding: 0 2rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero__image {
    object-fit: cover;
    width: 320px;
    height: 320px;
    margin-top: 5rem;
  }

  .hero__h1 {
    font-family: "Tusker-Grotesk-8800-Super";
    text-transform: uppercase;
    color: clr.$white;
    transform: translateY(-60%);
    z-index: 3;
    font-size: 6rem;

    @include mq.desktopL {
      font-size: 4.5rem;
    }
  }

  .hero__btn__container {
    display: flex;
    gap: 1rem;
  }
}
