.success__modal {
  padding: 2rem 4rem;
  background-color: white;
  display: grid;
  place-items: center;
  bottom: 10vh;
  border: none;

  font-family: "GeneralSans-Regular";
  border-radius: 1em;
  left: 80vw;
}
