$black: #171717;
$white: #f9f5f3;
$grey: #5e5e5e;
$yellow: #f6f29a;
$green: #b4ddcb;
$peach: #febe98;
$pink: #ff7c7c;

// MQ Breakpoints

$desktopL: 91.25em; // 1460px
$desktopM: 81.25em; // 1300px
$desktop: 80em; //1280px
$desktopS: 75em; //1200px
$tabletL: 60em; // 960px
$tablet: 48em; // 768px
$tabletS: 40.625em; // 650px
$mobileL: 35em; // 560px
$mobileS: 26.25em; // 420px

@mixin desktopL {
  @media (max-width: $desktopL) {
    @content;
  }
}

@mixin desktopM {
  @media (max-width: $desktopM) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin desktopS {
  @media (max-width: $desktopS) {
    @content;
  }
}

@mixin tabletL {
  @media (max-width: $tabletL) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin tabletS {
  @media (max-width: $tabletS) {
    @content;
  }
}
@mixin mobileL {
  @media (max-width: $mobileL) {
    @content;
  }
}

@mixin mobileS {
  @media (max-width: $mobileS) {
    @content;
  }
}
