@use "../../scss/base/globals" as clr;
@use "../../scss/base/globals" as mq;

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: "GeneralSans-Regular";

  .profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .profile__tag {
    background-color: clr.$black;
    color: clr.$white;
    padding: 0.5rem 1rem;
    border-radius: 2em;
    margin-bottom: 10px;
  }

  .logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 400px;

    &:hover {
      background-color: #d32f2f;
    }
  }
}
