@use "../../scss/base/globals" as clr;
@use "../../scss/base/globals" as mq;

.venue__container {
  background-color: clr.$white;
  width: 100%;
  max-width: 1600px;
  height: fit-content;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  margin: 1rem auto 0;
  font-family: "GeneralSans-Regular";
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .padding__container {
    padding: 4rem 18rem;
    @include mq.desktopL {
      padding: 4rem 14rem;
    }
    @include mq.desktopS {
      padding: 4rem 8rem;
    }
    @include mq.tabletL {
      padding: 0;
    }
  }
  .venue__section__container {
    display: flex;
    gap: 2rem;
    @include mq.tabletL {
      flex-direction: column;
      width: 100%;
      padding: 0 2rem;
    }
    .venue__info {
      width: 60%;
      @include mq.tabletL {
        width: 100%;
      }
      .info__header {
        display: flex;
        align-items: flex-end;
        gap: 1rem;
        padding-bottom: 1rem;

        .venue__page__h1 {
          font-family: "GeneralSans-SemiBold";
          font-size: 2rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 350px;
        }

        .venue__location {
          max-width: 100px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .hosted__container {
        padding: 2rem 0 6rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: "GeneralSans-Medium";
        .venue__owner__avatar {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .venue__description {
        padding-bottom: 6rem;
        text-wrap: balance;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      h2,
      h3 {
        font-family: "GeneralSans-Medium";
        font-size: 1.5rem;
      }
      .includes__grid {
        width: 60%;
        padding: 1.5rem 0 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2;
        row-gap: 1rem;
        @include mq.tabletL {
          width: 100%;
        }
      }

      .includes__grid div {
        grid-row: auto;
      }

      .venue__info__container {
        padding: 1.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
.circleContainer {
  position: relative;
  transform: translateY(-2px);
  .circle {
    box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 1250%;
    width: 100%;
    background-color: clr.$white;
    border-radius: 0% 0% 50% 50%;
    z-index: 1;
  }
}
