@use "../../../scss/base/globals" as clr;
@use "../../../scss/base/globals" as mq;

.filter__btn {
  background-color: clr.$white;
  border-radius: 1em;
  padding: 0.3rem;
  border: 1px solid rgb(214, 214, 214);
  cursor: pointer;

  &:hover {
    background-color: rgb(206, 206, 206, 0.1);
  }

  img {
    object-fit: cover;
    width: 80%;
    margin: auto;
  }
}

.filter__modal__container {
  align-self: center;
  justify-self: center;
  height: 840px;
  width: 100%;
  max-width: 780px;
  border: 1px solid rgb(206, 206, 206, 0.7);
  border-radius: 1.5em;
  font-family: "GeneralSans-Regular";

  .filter__modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 840px;

    .filter__header,
    .filter__footer {
      justify-self: flex-start;
      display: flex;
      align-items: center;
      height: 10%;
    }

    .filter__header {
      justify-self: flex-start;
      border-bottom: 0.5px solid rgb(206, 206, 206, 0.7);
      flex-direction: row;
      display: flex;
      padding: 2rem;
      justify-content: space-between;

      div {
        text-transform: uppercase;
        font-weight: 600;
      }

      .modal__close__button {
        border: none;
        outline: none;
        background-color: white;
        width: 1.1rem;
        cursor: pointer;
      }
    }
    .filter__modal__content {
      overflow-y: scroll;
      display: flex;
      align-items: center;
      flex-direction: column;
      scrollbar-width: thin;
      scrollbar-color: clr.$pink transparent;

      .filter__modal__content__box {
        padding: 2rem;
        width: 100%;
      }

      .modal__header {
        font-size: 1.5rem;
      }

      .price__slider__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-bottom: 0.5px solid rgb(206, 206, 206, 0.4);
        padding: 2rem 0;

        .price__box {
          display: flex;
          justify-content: space-between;
          font-size: 1.25rem;
        }

        .slider {
          background: rgb(179, 179, 179);
          cursor: pointer;
          width: 100%;
          border: none;
          align-self: center;
          padding: 0;
          height: 3px;
          margin: 2rem;

          .thumb {
            background-color: clr.$pink;
            border-radius: 0.5rem;
            height: 1rem;
            width: 1rem;
            transition: all 0.1s;
            margin-top: -6px;
          }
        }

        // input[type="range"] {
        //   -webkit-appearance: none;
        //   appearance: none;
        //   background: transparent;
        //   cursor: pointer;
        //   width: 100%;
        //   border: none;
        //   align-self: center;
        //   padding: 0;
        // }

        // input[type="range"]:focus {
        //   outline: none;
        // }

        // input[type="range"]::-webkit-slider-runnable-track {
        //   background-color: rgb(206, 206, 206, 0.5);
        //   border-radius: 0.5rem;
        //   height: 0.5rem;
        // }

        // input[type="range"]::-webkit-slider-thumb {
        //   -webkit-appearance: none;
        //   appearance: none;
        //   margin-top: -4px;
        //   background-color: clr.$pink;
        //   border-radius: 0.5rem;
        //   height: 1rem;
        //   width: 1rem;
        //   transition: all 0.1s;
        // }

        // input[type="range"]:focus::-webkit-slider-thumb {
        //   height: 1.2rem;
        //   width: 1.2rem;
        //   margin-top: -5px;
        // }

        // input[type="range"]::-moz-range-track {
        //   background-color: rgb(206, 206, 206, 0.5);
        //   border-radius: 0.5rem;
        //   height: 0.5rem;
        // }

        // input[type="range"]::-moz-range-thumb {
        //   -webkit-appearance: none;
        //   appearance: none;
        //   margin-top: -4px;
        //   background-color: clr.$pink;
        //   border-radius: 0.5rem;
        //   height: 1rem;
        //   width: 1rem;
        //   transition: all 0.1s;
        // }

        // input[type="range"]:focus::-moz-range-thumb {
        //   height: 1.2rem;
        //   width: 1.2rem;
        //   margin-top: -5px;
        // }
      }

      .rooms__box {
        padding: 2rem 0;
        overflow: auto;
        scrollbar-color: clr.$pink transparent;
        scrollbar-width: thin;

        .rooms__btn__container {
          padding-top: 1rem;
          display: flex;
          justify-content: space-between;
          // overflow: auto;
          width: 680px;
          scrollbar-color: red;
          scrollbar-width: thin;
          .rooms__btn {
            outline: rgb(206, 206, 206, 0.5);
            border: 0.5px solid rgb(206, 206, 206, 0.5);
            background-color: white;
            // padding: 0.9rem;
            border-radius: 2em;
            width: 4rem;
            height: 3rem;
            cursor: pointer;
          }
          .active {
            background-color: clr.$pink;
            border: none;
          }
        }
      }
    }

    .filter__footer {
      justify-self: flex-end;
      border-top: 0.5px solid rgb(206, 206, 206, 0.7);
      padding: 2rem;

      .filter__modal__btn {
        border: none;
        background-color: clr.$black;
        color: clr.$white;
        padding: 0.7rem 1.6rem;
        border-radius: 2em;
        text-transform: uppercase;
        margin-left: auto;
        cursor: pointer;

        &:hover {
          background-color: rgb(43, 43, 43);
        }
      }
    }
  }

  .amenities__container {
    padding: 2rem 0;
    border-top: 0.5px solid rgb(206, 206, 206, 0.4);
    margin-top: 3rem;
    .checkbox__grid {
      padding-top: 1rem;
      display: grid;
      grid-template-columns: repeat(2, (minmax(100px, 1fr)));
      .checkbox__container {
        display: flex;
        align-items: center;
        gap: 1rem;
        input[type="checkbox"]:focus {
          outline: none;
        }
        input[type="checkbox"]:checked {
          accent-color: clr.$pink;
        }
        .amenities__checkbox {
          width: 2rem;
        }
      }
    }
  }
}
