@use "../../../scss/base/globals" as clr;
@use "../../../scss/base/globals" as mq;

.filter__btn {
  background-color: clr.$white;
  border-radius: 1em;
  padding: 0.3rem;
  border: 1px solid rgb(214, 214, 214);
  cursor: pointer;

  &:hover {
    background-color: rgb(206, 206, 206, 0.1);
  }

  img {
    object-fit: cover;
    width: 80%;
    margin: auto;
  }
}

.filter__modal__container {
  align-self: center;
  justify-self: center;
  height: 840px;
  width: 100%;
  max-width: 780px;
  border: 1px solid rgb(206, 206, 206, 0.7);
  border-radius: 1.5em;

  .filter__modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 840px;

    .filter__header,
    .filter__footer {
      justify-self: flex-start;
      display: flex;
      align-items: center;
      height: 10%;
    }

    .filter__header {
      justify-self: flex-start;
      border-bottom: 0.5px solid rgb(206, 206, 206, 0.7);
    }
    .filter__modal__content {
      overflow-y: scroll;
    }
    .filter__footer {
      justify-self: flex-end;
      border-top: 0.5px solid rgb(206, 206, 206, 0.7);
    }
  }
}
