@use "../../scss/base/globals" as clr;
@use "../../scss/base/globals" as mq;

.contact__container {
  max-width: 90%;
  margin: auto;
  height: fit-content;
  .contact__h1 {
    color: clr.$white;
    font-family: "Tusker-Grotesk-8800-Super";
    font-size: 6rem;
    text-transform: uppercase;
    padding: 4rem 0;
  }
  .contact__grid {
    display: grid;
    grid-template-columns: repeat(8, (minMax(120px, 1fr)));
    grid-template-rows: repeat(9, (minMax(100px, 1fr)));
    gap: 1.5rem;
    font-family: "GeneralSans-Regular";

    > * {
      border-radius: 2em;
      padding: 10px;
    }
    .hello__box {
      background-color: clr.$green;
      grid-column: 1 / 5;
      grid-row: 1 / 4;
    }
    .socials__box {
      background-color: clr.$white;
      grid-column: 1 / 3;
      grid-row: 4 / 7;
    }
    .faq__box {
      background-color: clr.$red;
      grid-column: 3 / 5;
      grid-row: 4 / 7;
    }
    .international__box {
      background-color: clr.$yellow;
      grid-column: 5 / 9;
      grid-row: 1 / 7;
    }
    .career__box {
      background-color: clr.$black;
      color: clr.$white;
      grid-column: 1 / 5;
      grid-row: 7 / 10;
    }
    .terms__box {
      background-color: clr.$purple;

      grid-column: 5 / 9;
      grid-row: 7 / 10;
    }
  }
}
