@use "../../../scss/base/globals" as clr;

.link__container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 26px;
    height: 26px;
  }
  .nav__links {
    color: clr.$white;
  }
}
