@use "../../scss/base/globals" as clr;
@use "../../scss/base/globals" as mq;

header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin: 3rem 3.375rem 2rem;
  font-family: "GeneralSans-Medium";
  background: transparent;

  @include mq.tabletL {
    margin: 3rem 1.5rem 2rem;
    gap: 1rem;
  }
  @include mq.mobileL {
    margin: 2.125rem 1.5rem 2rem;
  }

  .nav__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right,
      hsla(220, 13%, 0%, 0.3) 40%,
      hsla(220, 13%, 0%, 1) 80%
    );
    transition: opacity 2 cubic-bezier(0.7, 0, 0.2, 1);
    z-index: 0;
    pointer-events: none;
  }
}

.side__nav__button {
  background-color: clr.$black;
  height: 84px;
  width: 84px;
  border-radius: 50%;
  border: none;
  display: grid;
  place-items: center;
  position: fixed;
  top: 32px;
  right: 54px;
  cursor: pointer;
  z-index: 150;
  overflow: hidden;

  @include mq.tabletL {
    top: 32px;
    right: 24px;
    height: 64px;
    width: 64px;
  }
  @include mq.mobileL {
    right: 20px;
    top: 16px;
  }

  .hidden {
    pointer-events: none;
    display: none;
  }
  .circle {
    height: 150%;
    width: 155%;
    background-color: clr.$white;
    position: absolute;
    right: -28%;
    top: 100%;
    border-radius: 50%;
  }

  .burger {
    z-index: 50;
    width: 100%;
    &::after,
    &::before {
      content: "";
      background-color: clr.$white;
      height: 1px;
      width: 40%;
      display: block;
      margin: auto;
      position: relative;
      transition: all 0.3s;
    }
    &::after {
      top: -5px;
    }
    &::before {
      top: 5px;
    }
  }

  .burgerActive {
    &::after {
      transform: rotate(45deg);
      top: -1px;
      background-color: clr.$black;
    }
    &::before {
      transform: rotate(-45deg);
      top: 0px;
      background-color: clr.$black;
    }
  }
}
