.top__nav__container {
  // border: 1px solid black;
  padding-top: 0.5rem;
  overflow: hidden;

  .top__nav {
    display: flex;
    gap: 2.5rem;

    .top__nav__link {
      text-decoration: none;
      color: #000;
    }
  }
}
