@use "../../../scss/base/globals" as clr;

.top__nav__container {
  overflow: hidden;
  font-family: "GeneralSans-Medium";
  padding-left: 5rem;

  .top__nav {
    display: flex;
    gap: 3rem;

    .top__nav__link {
      text-decoration: none;
      color: clr.$black;
    }
  }
}
