@font-face {
  font-family: "Tusker-Grotesk-8800-Super";
  src: url(../src/assets/fonts/TuskerGrotesk-8800Super.woff2) format("woff2");
}
@font-face {
  font-family: "Tusker-Grotesk-8700-Bold";
  src: url(../src/assets/fonts/TuskerGrotesk-8700Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Tusker-Grotesk-7800-Super";
  src: url(../src/assets/fonts/TuskerGrotesk-7800Super.woff2) format("woff2");
}
@font-face {
  font-family: "Tusker-Grotesk-7700-Bold";
  src: url(../src/assets/fonts/TuskerGrotesk-7700Bold.woff2) format("woff2");
}
