@use "../../../scss/base/globals" as clr;

.managed__venues__container {
  background-color: clr.$yellow;
  padding: 2rem;
  border-radius: 2em;
  .managed__h2 {
    font-size: 2rem;
  }
  .venue-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 30px;

    .delete__venue__btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .managed__link {
      text-decoration: none;
      color: clr.$black;
    }

    .image__name__container {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .managed__venue__name {
      }
      .venue-avatar {
        width: 100px;
        object-fit: cover;
        height: 100px;
        border-radius: 100%;
      }
    }
  }
}
