.nav__logo {
  font-size: 2.4rem;
  text-decoration: none;
  color: #171717;
  position: fixed;
  top: 32px;
  left: 54px;
  font-family: "Tusker-Grotesk-8700-Bold";

  .characters {
    display: inline-block;
  }
}
